div {
    width: 100px;
    height: 100px;
    background-color:magenta;
    border-radius: 50%;
    animation: change 5s infinite;
  }
  
  @keyframes change {
    0% {backgroun-color:magenta;}
    25% {backgroun-color:lightblue;}
    50% {backgroun-color:lightgreen;}
    75% {backgroun-color:yellow;}
    100% {backgroun-color:cyan;}
  }