div {
    width: 100px;
    height: 100px;
    background-color:magenta;
    border-radius: 50%;
    animation-name:change;
    animation-duration: 5s;
    animation-iteration-count:infinite;
  }
  
  @keyframes change {
    0% {background-color:magenta;}
    25% {background-color:lightblue;}
    50% {background-color:lightgreen;}
    75% {background-color:yellow;}
    100% {background-color:cyan;}
  }